<span id="PageIndexBottom">
                        <div style="float:right;">
                            <div class="PageSizeControl">
                                Show&nbsp;&nbsp;<a
                                    onclick="CodePlexPaging.gotoPageSize('http://wbfsmanager.codeplex.com/SourceControl/list/changesets', 10);return false;"
                                    href="#">10</a>&nbsp;<span
                                    class="Selected">25</span>&nbsp;<span>Change Sets</span><a style="display: none;"
                                                                                               class="Link"
                                                                                               href="http://wbfsmanager.codeplex.com/SourceControl/list/changesets?size=2147483647">View
                                All</a>
                            </div>
                        </div>
                        <div>
                            <div class="PageIndexControl" id="Pager_0">
                                <nobr><span class="Status"><span class="Range">1-16</span><span> of </span><span
                                        class="Count">16</span></span> Change Sets <span class="PageLinks"><span
                                        class="Disabled">&lt; Previous</span> <span class="Selected">1</span>&nbsp;<span
                                        class="Disabled">Next &gt;</span></span></nobr>
                            </div>
                        </div>
</span>