<div class="ContentPanelBox SideBarHeader">
    <div class="Content">
        <table cellpadding="0" cellspacing="0" class="FullWidth">
            <tr valign="middle">
                <td><h2>Activity</h2></td>
            </tr>
        </table>
    </div>
</div>
<div class="ContentPanelBox SideBarControl">
    <div class="Content">
        <table id="ProjectActivity" cellspacing="0" cellpadding="0" width="100%">
            <tr id="PageViewsRow" class="AlternateBackground">
                <td>
                    <div class="StandardPaddingTop StandardPaddingBottom">Page Views</div>
                </td>
                <td align="right">
                    <div><span id="pageViews">118332</span></div>
                </td>

            </tr>
            <tr id="VisitsRow" class="StandardBackground">
                <td>
                    <div class="StandardPaddingTop StandardPaddingBottom">Visits</div>
                </td>
                <td align="right">
                    <div><span id="visits">45111</span></div>
                </td>
            </tr>
            <tr id="DownloadsRow" class="AlternateBackground">
                <td>
                    <div class="StandardPaddingTop StandardPaddingBottom">Downloads</div>
                </td>

                <td align="right">
                    <div><span id="downloads">47177</span></div>
                </td>
            </tr>
        </table>

        <div class="StandardPaddingTop">
            <a id="statsLink" href="/stats">
                <div class="Left">&nbsp;</div>
                <div class="Middle">View Detailed Stats</div>
                <div class="Right">&nbsp;</div>
            </a>

            <div class="ClearBoth"></div>
        </div>
    </div>
</div>