<div class="ContentPanelBox SideBarControl">
    <div class="Content">
        <div id="favoriteProjectContainer">
            <img id="favoriteProject" src="http://i3.codeplex.com/Images/v17748/favorite-star-off.gif"
                 onclick="toggleFavoriteProject();return false;" style="cursor:pointer;vertical-align:middle;"/>
            <a href="http://wbfsmanager.codeplex.com/team/view">65 people</a> are following this project
            (<a id="followLink" href="#" onclick="toggleFavoriteProject();return false;"
                style="font-size:.85em;">follow</a>)
        </div>

    </div>
</div>