<div id="CanvasFooter">
    © 2010-2011 Taobao.Inc
    <span class="VerticalBar">|</span>
    <a href='/help'>Get Help</a>
    <span class="VerticalBar">|</span>
    <a href='/privacy'>Privacy Statement</a>
    <span class="VerticalBar">|</span>
    <a href='/Terms'>Terms of Use</a>
    <span class="VerticalBar">|</span>
    <a href='/Conduct'>Code of Conduct</a>
    <span class="VerticalBar">|</span>
    <a href="/Advertisers" target="_blank">Advertise With Us</a>
    <span class="VerticalBar">|</span>
    Version 2.0
</div>