<table class="FullWidth" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="FullWidth" valign="bottom">
            <div class="ProjectLogoLeft">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:90px;" valign="middle">
                            <div style="padding-left: 1.1em; padding-top: 1.1em; padding-bottom:.8em;">
                                <div class="ProjectTitleControl HalfMarginBottom">
                                    <a id="ProjectTitleControl1_ProjectTitleLink1"
                                       href=""><h1
                                            id="ProjectTitleControl1_ProjectHeader"
                                            class="ProjectHeader NoMargin Inline">
                                        <span id="ProjectTitleControl1_TitleLabel">{{ project.name }}</span>
                                    </h1></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td valign="top">
            <div class="ProjectLogoRight" onmouseover="this.style.cursor = 'hand';"
                 onmouseout="this.style.cursor = 'default';">
                <div class="LogoLinkOuter">
                    <a href='/' class="LogoLink" title="TaoCode Home">
                        <div class="LogoLinkInner">TaoCode Home</div>
                    </a>
                </div>
            </div>
        </td>
        <td valign="top" class="StandardPaddingTop SiteHeaderProjectRight"
            style="padding-right: 1.7em; padding-left: .1em">

            <div class="NoWrap ProjectSignInControl">
                <a href="/site/register/new" id="registerLink" class="ZoomFix">Register</a>
                <span class="VerticalBarTop ZoomFix">|</span>
                <a href="/login"
                   id="signInLink" class="ZoomFix">Sign In</a>

                <span class="VerticalBarTop ZoomFix">|</span>
                <a class="ZoomFix" href='http://code.taobao.org'>TaoCode Home</a>
            </div>

            <div style="margin-top: .5em;">
                <div id="ProjectSearchControl_ProjectSearchPanel"
                     class="ProjectSearchPanel NoWrap">
                    <div class="ProjectSearchPanel">
                        <input name="SearchTextBox" type="text"
                               maxlength="500" id="ProjectSearchControl_SearchTextBox"
                               class="SingleLineTextBox ProjectSearchTextBox"/>
                        <img id="ProjectSearchControl_SearchButton"
                             class="ProjectSearchButton"
                             src="/img/search-button-off.gif" alt="Search"
                             style="border-width:0px;"/>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>