<div id="CurrentReleaseInfo">
    <div class="ContentPanelBox SideBarHeader">
        <div class="Content">
            <h2>Recent reviews <span>(<a
                    href="">more</a>)</span></h2>
        </div>
    </div>
    <div class="ContentPanelBox SideBarControl">
        <div class="Content">
            <div class="DoublePaddingBottom">
                <span id="RatingContainer" class="RatingStarContainer" title="5 star rating"><span id="Rating_Star_0"
                                                                                                   class="RatingStar FilledRatingStar"
                                                                                                   d:rating="1">&nbsp;</span><span
                        id="Rating_Star_1" class="RatingStar FilledRatingStar" d:rating="2">&nbsp;</span><span
                        id="Rating_Star_2" class="RatingStar FilledRatingStar" d:rating="3">&nbsp;</span><span
                        id="Rating_Star_3" class="RatingStar FilledRatingStar" d:rating="4">&nbsp;</span><span
                        id="Rating_Star_4" class="RatingStar FilledRatingStar" d:rating="5">&nbsp;</span><span
                        id="ratingName"></span><input id="currentRating" type="hidden" value="5"/></span>
                &nbsp;es muy bueno
            </div>

            <div class="DoublePaddingBottom">
                <span id="RatingContainer" class="RatingStarContainer" title="4 star rating"><span id="Rating_Star_0"
                                                                                                   class="RatingStar FilledRatingStar"
                                                                                                   d:rating="1">&nbsp;</span><span
                        id="Rating_Star_1" class="RatingStar FilledRatingStar" d:rating="2">&nbsp;</span><span
                        id="Rating_Star_2" class="RatingStar FilledRatingStar" d:rating="3">&nbsp;</span><span
                        id="Rating_Star_3" class="RatingStar FilledRatingStar" d:rating="4">&nbsp;</span><span
                        id="Rating_Star_4" class="RatingStar EmptyRatingStar" d:rating="5">&nbsp;</span><span
                        id="ratingName"></span><input id="currentRating" type="hidden" value="4"/></span>
                &nbsp;... (<a
                    href="">more</a>)
            </div>

        </div>
    </div>
</div>