{% extends "layouts/baseview.html" %}
{% load i18n %}
{% load short_uri %}

{%block title%}{{wiki.title}}{%endblock%}

{%block pagename%}
<a class="username" href="{{project.owner|url}}">{{project.owner}}</a> / {{project.name}} - {{pagename}}
{%endblock%}

{%block main-block%}
<div>
 <a href="{{project|url}}new_wiki/" class="button">New Page</a>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Last Modify</th>    
  </tr>
  {%for page in pages%}
  <tr>
    <td>{{page.title}}</td>
    <td>{{page.author.name}}</td>
    <td>{{page.mtime|date}}</td>
  </tr>
  {%endfor%}
</table>
{%endblock%}



