{%extends "layouts/baseview.html"%}
{%load i18n %}
about taocode2

{%block main-block%}
<h3>About</h3>
More code fun.
<h3>Contacts</h3>
<div>
  <span><img src="/img/weibo_logo.png"></span>
  <span><a href="http://weibo.com/taobaoopensource">http://weibo.com/taobaoopensource</a></span>
</div>
<div>
  <span><img src="/img/email.png"></span>
  <span><a href="mailto:admin@taocode.org">mailto:admin@taobao.org</a></span>
</div>
<h3>Development</h3>

<div>
  <a href="/p/taobaocode/">http://code.taobao.org/p/taobaocode/</a>
</div>

<h3>Powered by</h3>
<a href="http://www.aliyun.com/?ref=3" target="_blank"><img src="http://static.aliyun.com/images/www-summerwind/logo.gif" alt="阿里云" /></a>
<div class="img-btn">
  <a href="http://www.python.org/"><img src="/img/python_logo.gif" title="python"/></a>
  <a href="http://www.djangoproject.com/"><img src="/img/django_logo.gif" title="django"/></a>
  <a href="http://subversion.apache.org/"><img src="/img/subversion_logo.png" title="subversion"/></a>
</div>

<h3>Links</h3>
<div class="img-btn">
  <a href="http://www.sndacode.com/"><img src="/img/sndacode_logo.jpg" title="sndacode"/></a>
  <a href="http://code.ijinshan.com/"><img src="/img/ijinshan_logo.gif" title="ijinshan"/></a>
</div> 
{%endblock%}
